In [2]:
import os
os.chdir('../')
os.getcwd()

'/Users/dennis/repos/study/mt/mt_rdf'

In [18]:
from src.query.query_type import QueryType
from src.query.wdbench import WDBench

In [5]:
from tqdm import tqdm

In [3]:
base_data_path = 'data/raw/wdbench/full_wdbench/'

In [19]:
wdbench = WDBench()

In [12]:
wdbench.queries

      q_id  ...                                           entities
0        1  ...         [<http://www.wikidata.org/entity/Q137109>]
1        2  ...       [<http://www.wikidata.org/entity/Q13414980>]
2        3  ...        [<http://www.wikidata.org/entity/Q6721203>]
3        4  ...  [<http://www.wikidata.org/entity/Q1028181>, <h...
4        5  ...  [<http://www.wikidata.org/entity/Q13382603>, <...
...    ...  ...                                                ...
2653   677  ...  [<http://www.wikidata.org/entity/Q31>, <http:/...
2654   678  ...         [<http://www.wikidata.org/entity/Q484876>]
2655   679  ...              [<http://www.wikidata.org/entity/Q5>]
2656   680  ...  [<http://www.wikidata.org/entity/Q653645>, <ht...
2657   681  ...           [<http://www.wikidata.org/entity/Q7075>]

[2658 rows x 5 columns]

In [26]:
for q_type in QueryType:
    print(q_type)
    for filename in tqdm(os.listdir(f'{base_data_path}{q_type}/')):
        with open(f'{base_data_path}{q_type}/{filename}', 'r+') as file:
            # # here, position is initially at the beginning
            sparql_query = file.read()
            query = sparql_query.split('NL-QUESTION:')[0].strip()
            q_id = filename.split('.')[0].replace('Q', '')
            if "label" in query.lower():
                print(f'{q_type} - {filename}')
                print(wdbench.get_sparql_from_id_and_type(int(q_id), q_type))
                print(query)

QueryType.single_bgps

100%|██████████| 280/280 [00:00<00:00, 9420.26it/s]

QueryType.multiple_bgps

100%|██████████| 681/681 [00:00<00:00, 7722.33it/s]

multiple_bgps - Q195.sparql
SELECT * WHERE { ?x1 <http://www.wikidata.org/prop/direct/P131> <http://www.wikidata.org/entity/Q220> . ?x1 <http://www.wikidata.org/prop/direct/P1705> ?x2 . ?x1 <http://www.wikidata.org/prop/direct/P31> <http://www.wikidata.org/entity/Q16970> .  }
SELECT * WHERE { ?x1 <located in the administrative territorial entity> <Rome> . ?x1 <native label> ?x2 . ?x1 <instance of> <church building> .  }
multiple_bgps - Q292.sparql
SELECT * WHERE { ?x1 <http://www.wikidata.org/prop/direct/P1705> ?x2 . ?x3 <http://www.wikidata.org/prop/direct/P373> ?x4 .  }
SELECT * WHERE { ?x1 <native label> ?x2 . ?x3 <Commons category> ?x4 .  }
multiple_bgps - Q491.sparql
SELECT * WHERE { ?x1 <http://www.wikidata.org/prop/direct/P279> <http://www.wikidata.org/entity/Q131419> . ?x1 <http://www.wikidata.org/prop/direct/P279> <http://www.wikidata.org/entity/Q722218> .  }
SELECT * WHERE { ?x1 <subclass of> <sausage> . ?x1 <subclass of> <label> .  }
multiple_bgps - Q291.sparql
SELECT * WHERE { ?x1 <http://www.wikidata.org/prop/direct/P1705> ?x2 . ?x3 <http://www.wikidata.org/prop/direct/P31> <http://www.wikidata.org/entity/Q101352> .  }
SELECT * WHERE { ?x1 <native label> ?x2 . ?x3 <instance of> <family name> .  }
multiple_bgps - Q293.sparql
SELECT * WHERE { ?x1 <http://www.wikidata.org/prop/direct/P1705> ?x2 . ?x3 <http://www.wikidata.org/prop/direct/P373> ?x4 . ?x5 <http://www.wikidata.org/prop/direct/P735> ?x1 .  }
SELECT * WHERE { ?x1 <native label> ?x2 . ?x3 <Commons category> ?x4 . ?x5 <given name> ?x1 .  }
QueryType.paths

100%|██████████| 660/660 [00:00<00:00, 9603.78it/s]

paths - Q496.sparql
SELECT * WHERE { ?x1 (<http://www.wikidata.org/prop/direct/P31>/(<http://www.wikidata.org/prop/direct/P279>)*) <http://www.wikidata.org/entity/Q18127> }
SELECT * WHERE { ?x1 (<instance of>/(<subclass of>)*) <record label> }
QueryType.c2rpqs

  0%|          | 0/539 [00:00<?, ?it/s]

c2rpqs - Q67.sparql
SELECT * WHERE { <http://www.wikidata.org/entity/Q490> <http://www.wikidata.org/prop/direct/P625> ?x1 . <http://www.wikidata.org/entity/Q6285> <http://www.wikidata.org/prop/direct/P625> ?x2 . ?x3 (<http://www.wikidata.org/prop/direct/P31>/(<http://www.wikidata.org/prop/direct/P279>)*) <http://www.wikidata.org/entity/Q18127> .  }
SELECT * WHERE { <Milan> <coordinate location> ?x1 . <Varese> <coordinate location> ?x2 . ?x3 (<instance of>/(<subclass of>)*) <record label> .  }

100%|██████████| 539/539 [00:00<00:00, 9807.64it/s]

c2rpqs - Q61.sparql
SELECT * WHERE { <http://www.wikidata.org/entity/Q40854> <http://www.wikidata.org/prop/direct/P625> ?x1 . <http://www.wikidata.org/entity/Q6285> <http://www.wikidata.org/prop/direct/P625> ?x2 . ?x3 (<http://www.wikidata.org/prop/direct/P31>/(<http://www.wikidata.org/prop/direct/P279>)*) <http://www.wikidata.org/entity/Q18127> .  }
SELECT * WHERE { <Gallarate> <coordinate location> ?x1 . <Varese> <coordinate location> ?x2 . ?x3 (<instance of>/(<subclass of>)*) <record label> .  }
c2rpqs - Q73.sparql
SELECT * WHERE { <http://www.wikidata.org/entity/Q6285> <http://www.wikidata.org/prop/direct/P625> ?x1 . ?x2 (<http://www.wikidata.org/prop/direct/P31>/(<http://www.wikidata.org/prop/direct/P279>)*) <http://www.wikidata.org/entity/Q18127> .  }
SELECT * WHERE { <Varese> <coordinate location> ?x1 . ?x2 (<instance of>/(<subclass of>)*) <record label> .  }
QueryType.opts

100%|██████████| 498/498 [00:00<00:00, 9944.65it/s]

opts - Q263.sparql
SELECT * WHERE { ?x1 <http://www.wikidata.org/prop/direct/P31> <http://www.wikidata.org/entity/Q101352> . OPTIONAL { ?x1 <http://www.wikidata.org/prop/direct/P1705> ?x2 . } OPTIONAL { ?x1 <http://www.wikidata.org/prop/direct/P407> ?x3 . }  }
SELECT * WHERE { ?x1 <instance of> <family name> . OPTIONAL { ?x1 <native label> ?x2 . } OPTIONAL { ?x1 <language of work or name> ?x3 . }  }

In [25]:
for q_type in QueryType:
    print(q_type)
    for filename in tqdm(os.listdir(f'{base_data_path}{q_type}/')):
        with open(f'{base_data_path}{q_type}/{filename}', 'r+') as file:
            # here, position is initially at the beginning
            sparql_query = file.read()
            query = sparql_query.split('NL-QUESTION:')[1].strip()
            if query.startswith('"'):
                print(f'{q_type} - {filename}')

QueryType.single_bgps

100%|██████████| 280/280 [00:00<00:00, 7948.70it/s]

single_bgps - Q89.sparql
QueryType.multiple_bgps

100%|██████████| 681/681 [00:00<00:00, 8183.81it/s]

QueryType.paths

100%|██████████| 660/660 [00:00<00:00, 8771.14it/s]

QueryType.c2rpqs

100%|██████████| 539/539 [00:00<00:00, 9716.09it/s]

QueryType.opts

100%|██████████| 498/498 [00:00<00:00, 8365.83it/s]