In [1]:
import os
os.chdir('../')
os.getcwd()

'/Users/dennis/repos/study/mt/mt_rdf'

In [12]:
import pandas as pd

In [13]:
query_df = pd.read_csv('data/queries/cordis/cordis.csv')

In [16]:
list(query_df['predicted_sparql'])

["SELECT ?T1_total_cost WHERE { ?T1 a :projects . ?T1 :projects\\#total_cost ?T1_total_cost . ?T1 :projects\\#title ?T1_title . FILTER(?T1_title = 'Theseus') .        }",
 "SELECT ?T1_total_cost WHERE { ?T1 a :projects . ?T1 :projects\\#total_cost ?T1_total_cost . ?T1 :projects\\#title ?T1_title . FILTER(?T1_title = 'Theseus') .        }",
 'SELECT ?T1_acronym WHERE { ?T1 a :projects . ?T1 :projects\\#acronym ?T1_acronym . ?T1 :projects\\#start_year ?T1_start_year . FILTER(?T1_start_year = 2018) .        }',
 'SELECT ?T1_acronym WHERE { ?T1 a :projects . ?T1 :projects\\#acronym ?T1_acronym . ?T1 :projects\\#start_year ?T1_start_year . FILTER(?T1_start_year = 2018) .        }',
 'SELECT ?T1_title WHERE { ?T1 a :projects . ?T1 :projects\\#title ?T1_title . ?T1 :projects\\#start_year ?T1_start_year . FILTER(?T1_start_year < 2016) .        }',
 'SELECT ?T1_title WHERE { ?T1 a :projects . ?T1 :projects\\#title ?T1_title . ?T1 :projects\\#start_year ?T1_start_year . FILTER(?T1_start_year < 2016) .        }',
 "SELECT ?T1_institutions_name WHERE { ?T1 a :institutions . ?T2 a :eu_territorial_units . ?T1 :institutions\\#ref-geocode_regions_3 ?T2 .  ?T1 :institutions\\#institutions_name ?T1_institutions_name . ?T2 :eu_territorial_units\\#description ?T2_description . FILTER(?T2_description = 'Nordjylland') .        }",
 "SELECT ?T1_institutions_name WHERE { ?T1 a :institutions . ?T2 a :eu_territorial_units . ?T1 :institutions\\#ref-geocode_regions_3 ?T2 .  ?T1 :institutions\\#institutions_name ?T1_institutions_name . ?T2 :eu_territorial_units\\#description ?T2_description . FILTER(?T2_description = 'Nordjylland') .        }",
 'SELECT ?T1_full_name WHERE { ?T1 a :people . ?T2 a :projects . ?T2 :projects\\#ref-principal_investigator ?T1 .  ?T1 :people\\#full_name ?T1_full_name . ?T2 :projects\\#start_year ?T2_start_year . FILTER(?T2_start_year = 2014) .        }',
 'SELECT ?T1_full_name WHERE { ?T1 a :people . ?T2 a :projects . ?T2 :projects\\#ref-principal_investigator ?T1 .  ?T1 :people\\#full_name ?T1_full_name . ?T2 :projects\\#start_year ?T2_start_year . FILTER(?T2_start_year = 2014) .        }',
 "SELECT ?T1_title WHERE { ?T1 a :projects . ?T13 a :project_subject_areas . ?T13 :project_subject_areas\\#ref-project ?T1 .  ?T1 :projects\\#title ?T1_title . ?T2 :subject_areas\\#title ?T2_title . ?T2 a :subject_areas . ?T13 :project_subject_areas\\#ref-subject_area ?T2 .  ?T1 :projects\\#title ?T1_title . ?T2 :subject_areas\\#title ?T2_title . FILTER(?T2_title = 'Mathematics && Statistics') .        }",
 "SELECT ?T1_acronym ?T2_description WHERE { ?T1 a :projects . ?T13 a :project_subject_areas . ?T13 :project_subject_areas\\#ref-project ?T1 .  ?T1 :projects\\#acronym ?T1_acronym . ?T2 :subject_areas\\#description ?T2_description . ?T2 :subject_areas\\#title ?T2_title . ?T2 a :subject_areas . ?T13 :project_subject_areas\\#ref-subject_area ?T2 .  ?T1 :projects\\#acronym ?T1_acronym . ?T2 :subject_areas\\#description ?T2_description . ?T2 :subject_areas\\#title ?T2_title . FILTER(?T2_title = 'Mathematics && Statistics') .        }",
 'SELECT DISTINCT ?T1_title WHERE { ?T1 a :topics . ?T13 a :project_topics . ?T13 :project_topics\\#ref-topic ?T1 .  ?T1 :topics\\#title ?T1_title . ?T2 :projects\\#end_year ?T2_end_year . ?T2 a :projects . ?T13 :project_topics\\#ref-project ?T2 .  ?T1 :topics\\#title ?T1_title . ?T2 :projects\\#end_year ?T2_end_year . FILTER(?T2_end_year = 2014) .        }',
 'SELECT DISTINCT ?T1_title WHERE { ?T1 a :topics . ?T13 a :project_topics . ?T13 :project_topics\\#ref-topic ?T1 .  ?T1 :topics\\#title ?T1_title . ?T2 :projects\\#end_year ?T2_end_year . ?T2 a :projects . ?T13 :project_topics\\#ref-project ?T2 .  ?T1 :topics\\#title ?T1_title . ?T2 :projects\\#end_year ?T2_end_year . FILTER(?T2_end_year = 2014) .        }',
 "SELECT ?T1_acronym WHERE { ?T1 a :projects . ?T13 a :project_members . ?T13 :project_members\\#ref-project ?T1 .  ?T1 :projects\\#acronym ?T1_acronym . ?T2 :countries\\#country_name ?T2_country_name . ?T14 a :institutions . ?T13 :project_members\\#ref-institution_id ?T14 .  ?T1 :projects\\#acronym ?T1_acronym . ?T2 :countries\\#country_name ?T2_country_name . ?T2 a :countries . ?T14 :institutions\\#ref-country_id ?T2 .  ?T1 :projects\\#acronym ?T1_acronym . ?T2 :countries\\#country_name ?T2_country_name . FILTER(?T2_country_name = 'Greece') .        }",
 "SELECT ?T1_institutions_name WHERE { ?T1 a :institutions . ?T2 a :countries . ?T1 :institutions\\#ref-country_id ?T2 .  ?T1 :institutions\\#institutions_name ?T1_institutions_name . ?T2 :countries\\#country_name ?T2_country_name . ?T2 :countries\\#country_name ?T2_country_name . FILTER(?T2_country_name = 'France' || ?T2_country_name = 'Germany') .        }",
 "SELECT ?T1_institutions_name WHERE { ?T1 a :institutions . ?T2 a :countries . ?T1 :institutions\\#ref-country_id ?T2 .  ?T1 :institutions\\#institutions_name ?T1_institutions_name . ?T2 :countries\\#country_name ?T2_country_name . FILTER(?T2_country_name != 'France') .        }",
 'SELECT (count( ?T1_unics_id) as ?aggregation_T1_unics_id_72 ) WHERE { ?T1 a :projects . ?T1 :projects\\#unics_id ?T1_unics_id . ?T1 :projects\\#start_year ?T1_start_year . FILTER(?T1_start_year = 2016) .        }',
 'SELECT ?T1_title WHERE { ?T1 a :projects . ?T1 :projects\\#title ?T1_title . ?T1 :projects\\#total_cost ?T1_total_cost . FILTER(?T1_total_cost = (?aggregation_T22_total_cost_120)) .       {SELECT (max( ?T22_total_cost) as ?aggregation_T22_total_cost_120 ) WHERE { ?T22 a :projects . ?T22 :projects\\#total_cost ?T22_total_cost .        }    } }',
 'SELECT ?T1_member_name WHERE { ?T1 a :project_members . ?T2 a :projects . ?T1 :project_members\\#ref-project ?T2 .  ?T1 :project_members\\#member_name ?T1_member_name . ?T2 :projects\\#total_cost ?T2_total_cost . FILTER(?T2_total_cost < (?aggregation_T23_total_cost_47)) .       {SELECT (avg( ?T23_total_cost) as ?aggregation_T23_total_cost_47 ) WHERE { ?T23 a :projects . ?T23 :projects\\#total_cost ?T23_total_cost .        }    } }',
 'SELECT ?T1_unics_id WHERE { ?T1 a :projects . ?T2 a :project_members . ?T2 :project_members\\#ref-project ?T1 .  ?T1 :projects\\#unics_id ?T1_unics_id . ?T1 :projects\\#unics_id ?T1_unics_id . ?T1 :projects\\#unics_id ?T1_unics_id .        } GROUP BY ?T1_unics_id   HAVING(count( ?T1_unics_id) as ?aggregation_T1_unics_id_196 ) >= 100)',
 'SELECT ?T1_code ?T1_title WHERE { ?T1 a :funding_schemes . ?T1 :funding_schemes\\#code ?T1_code . ?T1 :funding_schemes\\#title ?T1_title . ?T1 :funding_schemes\\#code ?T1_code . FILTER(?T1_code = (?T22_code)) .       {SELECT ?T22_code (count( *) as ?aggregation_all) WHERE { ?T22 a :funding_schemes . ?T24 a :projects . ?T24 :projects\\#ref-ec_fund_scheme ?T22 .  ?T22 :funding_schemes\\#code ?T22_code . ?T22 :funding_schemes\\#code ?T22_code .        } GROUP BY ?T22_code  ORDER BY DESC (?aggregation_all) LIMIT 1 } }',
 'SELECT (sum( ?T1_total_cost) as ?aggregation_T1_total_cost_79 ) WHERE { ?T1 a :projects . ?T1 :projects\\#total_cost ?T1_total_cost .        }',
 'SELECT ?T1_title WHERE { ?T1 a :projects . ?T1 :projects\\#title ?T1_title . ?T1 :projects\\#start_year ?T1_start_year . ?T1 :projects\\#end_year ?T1_end_year . FILTER(?T1_start_year > 2006 && ?T1_end_year > 2006) .        }',
 'SELECT ?T1_title ?T1_end_year - ?T1_start_year WHERE { ?T1 a :projects . ?T1 :projects\\#title ?T1_title . ?T1 :projects\\#end_year ?T1_end_year . ?T1 :projects\\#start_year ?T1_start_year . ?T1 :projects\\#end_year ?T1_end_year . ?T1 :projects\\#start_year ?T1_start_year .        }   ORDER BY DESC (?T1_end_year - ?T1_start_year) LIMIT 1',
 "SELECT ?T1_title WHERE { ?T1 a :topics . ?T1 :topics\\#title ?T1_title . ?T1 :topics\\#title ?T1_title . FILTER(contains (?T1_title, 'Raw materials')) .        }",
 "SELECT ?T1_title WHERE { ?T1 a :topics . ?T1 :topics\\#title ?T1_title . ?T1 :topics\\#title ?T1_title . FILTER(contains (?T1_title, 'climate')) .        }",
 "SELECT (count( *) as ?aggregation_all) WHERE { ?T1 a :projects . ?T2 a :people . ?T1 :projects\\#ref-principal_investigator ?T2 .  ?T2 :people\\#full_name ?T2_full_name . FILTER(?T2_full_name = 'Thomas Bell') .        }",
 'SELECT DISTINCT ?T1_full_name WHERE { ?T1 a :people . ?T1 :people\\#full_name ?T1_full_name .        }',
 'SELECT ?T1_acronym WHERE { ?T1 a :projects . ?T1 :projects\\#acronym ?T1_acronym . ?T1 :projects\\#total_cost ?T1_total_cost . FILTER(?T1_total_cost >= 100000 && ?T1_total_cost <= 200000) .        }',
 'SELECT ?T1_title WHERE { ?T1 a :projects . ?T1 :projects\\#title ?T1_title . ?T1 :projects\\#total_cost ?T1_total_cost . FILTER(?T1_total_cost > 1000000) .        }',
 'SELECT ?T1_title WHERE { ?T1 a :projects . ?T1 :projects\\#title ?T1_title . ?T1 :projects\\#total_cost ?T1_total_cost . FILTER(?T1_total_cost > 1000000) .        }',
 "SELECT ?T1_title ?T2_member_name WHERE { ?T1 a :projects . ?T2 a :project_members . ?T2 :project_members\\#ref-project ?T1 .  ?T1 :projects\\#title ?T1_title . ?T2 :project_members\\#member_name ?T2_member_name . ?T3 :project_member_roles\\#code ?T3_code . ?T3 a :project_member_roles . ?T2 :project_members\\#ref-member_role ?T3 .  ?T1 :projects\\#title ?T1_title . ?T2 :project_members\\#member_name ?T2_member_name . ?T3 :project_member_roles\\#code ?T3_code . FILTER(?T3_code = 'partner') .        }",
 'SELECT DISTINCT ?T1_description WHERE { ?T1 a :erc_research_domains . ?T1 :erc_research_domains\\#description ?T1_description .        }',
 'SELECT ?T1_country_name WHERE { ?T1 a :countries . ?T2 a :institutions . ?T2 :institutions\\#ref-country_id ?T1 .  ?T1 :countries\\#country_name ?T1_country_name . ?T1 :countries\\#unics_id ?T1_unics_id .        }',
 'SELECT ?T1_country_name WHERE { ?T1 a :countries . ?T2 a :institutions . ?T2 :institutions\\#ref-country_id ?T1 .  ?T1 :countries\\#country_name ?T1_country_name . ?T1 :countries\\#unics_id ?T1_unics_id .        }',
 "SELECT ?T1_country_code2 ?T1_country_code3 WHERE { ?T1 a :countries . ?T1 :countries\\#country_code2 ?T1_country_code2 . ?T1 :countries\\#country_code3 ?T1_country_code3 . ?T1 :countries\\#country_name ?T1_country_name . FILTER(?T1_country_name = 'Andorra') .        }",
 "SELECT ?T1_code WHERE { ?T1 a :funding_schemes . ?T1 :funding_schemes\\#code ?T1_code . ?T1 :funding_schemes\\#title ?T1_title . FILTER(?T1_title = 'Framework Partnership Agreement') .        }",
 "SELECT ?T1_title WHERE { ?T1 a :programmes . ?T1 :programmes\\#title ?T1_title . ?T1 :programmes\\#short_name ?T1_short_name . FILTER(?T1_short_name = 'Transport') .        }",
 "SELECT ?T1_member_name ?T2_code WHERE { ?T1 a :project_members . ?T2 a :project_member_roles . ?T1 :project_members\\#ref-member_role ?T2 .  ?T1 :project_members\\#member_name ?T1_member_name . ?T2 :project_member_roles\\#code ?T2_code . ?T3 :projects\\#acronym ?T3_acronym . ?T3 a :projects . ?T1 :project_members\\#ref-project ?T3 .  ?T1 :project_members\\#member_name ?T1_member_name . ?T2 :project_member_roles\\#code ?T2_code . ?T3 :projects\\#acronym ?T3_acronym . FILTER(?T3_acronym = 'GTBB') .        }",
 "SELECT ?T1_member_name ?T2_code WHERE { ?T1 a :project_members . ?T2 a :project_member_roles . ?T1 :project_members\\#ref-member_role ?T2 .  ?T1 :project_members\\#member_name ?T1_member_name . ?T2 :project_member_roles\\#code ?T2_code . ?T3 :projects\\#acronym ?T3_acronym . ?T3 a :projects . ?T1 :project_members\\#ref-project ?T3 .  ?T1 :project_members\\#member_name ?T1_member_name . ?T2 :project_member_roles\\#code ?T2_code . ?T3 :projects\\#acronym ?T3_acronym . FILTER(?T3_acronym = 'GTBB') .        }",
 "SELECT ?T1_title WHERE { ?T1 a :programmes . ?T1 :programmes\\#title ?T1_title . ?T1 :programmes\\#parent ?T1_parent . FILTER(?T1_parent = 'FP7') .        }",
 "SELECT ?T1_title WHERE { ?T1 a :programmes . ?T1 :programmes\\#title ?T1_title . ?T1 :programmes\\#parent ?T1_parent . FILTER(?T1_parent = 'FP7') .        }",
 "SELECT ?T1_description WHERE { ?T1 a :erc_panels . ?T2 a :erc_research_domains . ?T1 :erc_panels\\#ref-part_of ?T2 .  ?T1 :erc_panels\\#description ?T1_description . ?T2 :erc_research_domains\\#description ?T2_description . FILTER(?T2_description = 'Life Sciences') .        }",
 "SELECT ?T1_description WHERE { ?T1 a :erc_panels . ?T2 a :erc_research_domains . ?T1 :erc_panels\\#ref-part_of ?T2 .  ?T1 :erc_panels\\#description ?T1_description . ?T2 :erc_research_domains\\#description ?T2_description . FILTER(?T2_description = 'Life Sciences') .        }",
 "SELECT ?T1_member_name WHERE { ?T1 a :project_members . ?T2 a :activity_types . ?T1 :project_members\\#ref-activity_type ?T2 .  ?T1 :project_members\\#member_name ?T1_member_name . ?T2 :activity_types\\#description ?T2_description . FILTER(?T2_description = 'Research Organisations') .        }",
 "SELECT ?T1_member_name WHERE { ?T1 a :project_members . ?T2 a :activity_types . ?T1 :project_members\\#ref-activity_type ?T2 .  ?T1 :project_members\\#member_name ?T1_member_name . ?T2 :activity_types\\#description ?T2_description . FILTER(?T2_description = 'Research Organisations') .        }",
 "SELECT ?T1_objective WHERE { ?T1 a :projects . ?T1 :projects\\#objective ?T1_objective . ?T1 :projects\\#acronym ?T1_acronym . FILTER(?T1_acronym = 'DEEPCARBON') .        }",
 "SELECT ?T1_objective WHERE { ?T1 a :projects . ?T1 :projects\\#objective ?T1_objective . ?T1 :projects\\#acronym ?T1_acronym . FILTER(?T1_acronym = 'DEEPCARBON') .        }",
 "SELECT ?T1_title WHERE { ?T1 a :projects . ?T1 :projects\\#title ?T1_title . ?T1 :projects\\#objective ?T1_objective . FILTER(contains (?T1_objective, 'carbon capturing')) .        }",
 "SELECT (count( *) as ?aggregation_all) WHERE { ?T1 a :projects . ?T1 :projects\\#objective ?T1_objective . FILTER(contains (?T1_objective, 'carbon capturing')) .        }",
 "SELECT distinct?col1 WHERE { { SELECT (?T1_institutions_name as ?col1) WHERE { ?T1 a :institutions . ?T2 a :countries . ?T1 :institutions\\#ref-country_id ?T2 .  ?T1 :institutions\\#institutions_name ?T1_institutions_name . ?T2 :countries\\#country_name ?T2_country_name . FILTER(?T2_country_name = 'France') .   }}  MINUS {SELECT (?T3_institutions_name as ?col1) WHERE { ?T3 a :institutions . ?T4 a :countries . ?T3 :institutions\\#ref-country_id ?T4 .  ?T3 :institutions\\#institutions_name ?T3_institutions_name . ?T4 :countries\\#country_name ?T4_country_name . ?T5 :eu_territorial_units\\#description ?T5_description . ?T5 a :eu_territorial_units . ?T3 :institutions\\#ref-geocode_regions_3 ?T5 .  ?T3 :institutions\\#institutions_name ?T3_institutions_name . ?T4 :countries\\#country_name ?T4_country_name . ?T5 :eu_territorial_units\\#description ?T5_description . FILTER(?T4_country_name = 'France' && ?T5_description = 'Paris') .        }     } }",
 "SELECT distinct?col1 WHERE { { SELECT (?T1_institutions_name as ?col1) WHERE { ?T1 a :institutions . ?T2 a :countries . ?T1 :institutions\\#ref-country_id ?T2 .  ?T1 :institutions\\#institutions_name ?T1_institutions_name . ?T2 :countries\\#country_name ?T2_country_name . FILTER(?T2_country_name = 'France') .   }}  MINUS {SELECT (?T3_institutions_name as ?col1) WHERE { ?T3 a :institutions . ?T4 a :countries . ?T3 :institutions\\#ref-country_id ?T4 .  ?T3 :institutions\\#institutions_name ?T3_institutions_name . ?T4 :countries\\#country_name ?T4_country_name . ?T5 :eu_territorial_units\\#description ?T5_description . ?T5 a :eu_territorial_units . ?T3 :institutions\\#ref-geocode_regions_3 ?T5 .  ?T3 :institutions\\#institutions_name ?T3_institutions_name . ?T4 :countries\\#country_name ?T4_country_name . ?T5 :eu_territorial_units\\#description ?T5_description . FILTER(?T4_country_name = 'France' && ?T5_description = 'Paris') .        }     } }",
 "SELECT DISTINCT ?T1_member_name WHERE { ?T1 a :project_members . ?T1 :project_members\\#member_name ?T1_member_name . ?T1 :project_members\\#member_name ?T1_member_name . FILTER(?T1_member_name not in (?T22_member_role)) .       {SELECT ?T22_member_name WHERE { ?T22 a :project_members . ?T22 :project_members\\#member_name ?T22_member_name . ?T22 :project_members\\#member_role ?T22_member_role . FILTER(?T22_member_role = 'coordinator') .        }    } }",
 "SELECT DISTINCT ?T1_member_name WHERE { ?T1 a :project_members . ?T1 :project_members\\#member_name ?T1_member_name . ?T1 :project_members\\#member_name ?T1_member_name . FILTER(?T1_member_name not in (?T22_member_role)) .       {SELECT ?T22_member_name WHERE { ?T22 a :project_members . ?T22 :project_members\\#member_name ?T22_member_name . ?T22 :project_members\\#member_role ?T22_member_role . FILTER(?T22_member_role = 'coordinator') .        }    } }",
 "SELECT ?T1_full_name (count( ?T2_title) as ?aggregation_T2_title_140 ) WHERE { ?T1 a :people . ?T2 a :projects . ?T2 :projects\\#ref-principal_investigator ?T1 .  ?T1 :people\\#full_name ?T1_full_name . ?T2 :projects\\#title ?T2_title . ?T2 :projects\\#title ?T2_title .        } GROUP BY ?T1_full_name   HAVING(count( ?T2_title) as ?aggregation_T2_title_17 ) > '1')",
 "SELECT ?T1_full_name (count( ?T2_title) as ?aggregation_T2_title_15 ) WHERE { ?T1 a :people . ?T2 a :projects . ?T2 :projects\\#ref-principal_investigator ?T1 .  ?T1 :people\\#full_name ?T1_full_name . ?T2 :projects\\#title ?T2_title . ?T2 :projects\\#title ?T2_title .        } GROUP BY ?T1_full_name   HAVING(count( ?T2_title) as ?aggregation_T2_title_85 ) > '1')",
 'SELECT ?T1_title (max( ?T2_ec_max_contribution) as ?aggregation_T2_ec_max_contribution_49 ) WHERE { ?T1 a :subject_areas . ?T13 a :project_subject_areas . ?T13 :project_subject_areas\\#ref-subject_area ?T1 .  ?T1 :subject_areas\\#title ?T1_title . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution . ?T2 a :projects . ?T13 :project_subject_areas\\#ref-project ?T2 .  ?T1 :subject_areas\\#title ?T1_title . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution .        } GROUP BY ?T1_title  ORDER BY DESC ((max( ?T2_ec_max_contribution) as ?aggregation_T2_ec_max_contribution_22 )) LIMIT 1',
 'SELECT ?T1_title (max( ?T2_ec_max_contribution) as ?aggregation_T2_ec_max_contribution_47 ) WHERE { ?T1 a :subject_areas . ?T13 a :project_subject_areas . ?T13 :project_subject_areas\\#ref-subject_area ?T1 .  ?T1 :subject_areas\\#title ?T1_title . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution . ?T2 a :projects . ?T13 :project_subject_areas\\#ref-project ?T2 .  ?T1 :subject_areas\\#title ?T1_title . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution .        } GROUP BY ?T1_title  ORDER BY DESC ((max( ?T2_ec_max_contribution) as ?aggregation_T2_ec_max_contribution_17 )) LIMIT 1',
 'SELECT ?T1_title (min( ?T2_ec_max_contribution) as ?aggregation_T2_ec_max_contribution_170 ) WHERE { ?T1 a :subject_areas . ?T13 a :project_subject_areas . ?T13 :project_subject_areas\\#ref-subject_area ?T1 .  ?T1 :subject_areas\\#title ?T1_title . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution . ?T2 a :projects . ?T13 :project_subject_areas\\#ref-project ?T2 .  ?T1 :subject_areas\\#title ?T1_title . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution . ?T2 :projects\\#ec_max_contribution ?T2_ec_max_contribution .        } GROUP BY ?T1_title  ORDER BY DESC ((min( ?T2_ec_max_contribution) as ?aggregation_T2_ec_max_contribution_125 )) LIMIT 1',

In [6]:
db_ids = set()
for query in queries:
    db_ids.add(query['db_id'])

In [7]:
db_ids

{'cordis_temporary'}

'SELECT DISTINCT ?T1_description WHERE { ?T1 a dbo:erc_panels . ?T13 a dbo:project_erc_panels . ?T13 dbo:panel ?T1 . ?T1 dbo:description ?T1_description . ?T2 dbo:start_year ?T2_start_year . ?T2 a dbo:projects . ?T13 dbo:project ?T2 . ?T1 dbo:description ?T1_description . ?T2 dbo:start_year ?T2_start_year . FILTER(?T2_start_year = 2016) . } '