In [1]:
import os
os.chdir('../')
os.getcwd()

'/Users/dennis/repos/study/mt/mt_rdf'

In [5]:
from SPARQLWrapper import SPARQLWrapper, JSON
import time

In [2]:
query = "PREFIX :  <http://unics.cloud/ontology/> SELECT ?T1_total_cost WHERE { ?T1 a :projects . ?T1 :projects\#total_cost ?T1_total_cost . ?T1 :projects\#title ?T1_title . FILTER(?T1_title = 'Theseus') .        }"

In [23]:
def execute_sparql(query, db_id):
    """This function executes the sparql query and returns the results"""
    sparql = SPARQLWrapper("http://160.85.252.68:9999/sparql")
    sparql.setTimeout(300)
    sparql.setReturnFormat(JSON)
    # sparql.setQuery('PREFIX :  <http://unics.cloud/ontology/>\nPREFIX onto: <http://www.ontotext.com/>' + query)
    sparql.setQuery(query)
    # the previous query as a literal string
    try:
        start_time = time.time()
        results = sparql.query()
        execution_time = time.time() - start_time

        results = results.convert()
        return results, execution_time
    #     clean_results = []
    #     for row in results['results']['bindings']:
    #         interim_results=[]
    #         for i in range(len(results['head']['vars'])):
    #             if 'datatype' in row.get(results['head']['vars'][i]).keys():
    #                 value = int(row.get(results['head']['vars'][i])['value'])
    #                 interim_results.append(value)
    #             else:
    #                 value = row.get(results['head']['vars'][i])['value'] 
    #                 interim_results.append(value)
    #         if len(interim_results) != 0:
    #             clean_results.append(tuple(interim_results))
    #     return clean_results, execution_time
    except Exception as e:
        print(e)
    return None, 0

In [15]:
res = execute_sparql(query=query, db_id=None)
# print(res[1])
# res[0]
res

({'head': {'vars': ['T1_total_cost']},
  'results': {'bindings': [{'T1_total_cost': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
      'type': 'literal',
      'value': '71429.0'}}]}},
 1.47810697555542)

In [16]:
"SELECT count(p.full_name) FROM people as p JOIN projects as pro on p.unics_id = pro.unics_id JOIN fund_schemes as fs on fs.code = pro.code WHERE fs = ''"

"SELECT count(p.full_name) FROM people as p JOIN projects as pro on p.unics_id = pro.unics_id JOIN fund_schemes as fs on fs.code = pro.code WHERE fs = ''"

In [21]:
query_2 = "PREFIX : <http://unics.cloud/ontology/> select distinct ?name where { ?people a :people . ?project a :projects .  ?people :people\#full_name ?name . ?people :people\#unics_id ?peo_id. ?project :projects\#principal_investigator ?pro_id. ?project :projects\#ec_fund_scheme ?pro_code . ?fs :funding_schemes\#code ?fs_code . FILTER (?fs_code = ?pro_code && ?pro_id = ?peo_id)} limit 100 "

In [ ]:
#?fs a :funding_schemes .

In [24]:
res = execute_sparql(query=query_2, db_id=None)

In [25]:
res

({'head': {'vars': ['name']},
  'results': {'bindings': [{'name': {'type': 'literal',
      'value': 'Stephane Redon'}},
    {'name': {'type': 'literal', 'value': 'Sven Bestmann'}},
    {'name': {'type': 'literal', 'value': 'Stephan Wolfgang Grill'}},
    {'name': {'type': 'literal', 'value': 'Ivan Laptev'}},
    {'name': {'type': 'literal', 'value': 'Johan Meyers'}},
    {'name': {'type': 'literal', 'value': 'Thomas Arno Klar'}},
    {'name': {'type': 'literal', 'value': 'Lucia Michelutti'}},
    {'name': {'type': 'literal', 'value': 'Thomas, Martin Jean Bataillon'}},
    {'name': {'type': 'literal', 'value': 'Veit Hornung'}},
    {'name': {'type': 'literal', 'value': 'Marco Fattori'}},
    {'name': {'type': 'literal', 'value': 'Amy Marie Bogaard'}},
    {'name': {'type': 'literal', 'value': 'Ann Heylighen'}},
    {'name': {'type': 'literal', 'value': 'Emma Teeling'}},
    {'name': {'type': 'literal', 'value': 'Thomas Wolbers'}},
    {'name': {'type': 'literal', 'value': 'Alexei Maklakov'}},
    {'name': {'type': 'literal', 'value': 'Jan Rudolf Van Ommen'}},
    {'name': {'type': 'literal', 'value': 'Michal Feldman'}},
    {'name': {'type': 'literal', 'value': 'Athina Markaki'}},
    {'name': {'type': 'literal', 'value': 'Giovanna Rizzarelli'}},
    {'name': {'type': 'literal', 'value': 'Eoin Casey'}},
    {'name': {'type': 'literal', 'value': 'Toby Gee'}},
    {'name': {'type': 'literal', 'value': 'Steven Bouillon'}},
    {'name': {'type': 'literal', 'value': 'Thierry Edouard Bertrand Magin'}},
    {'name': {'type': 'literal', 'value': 'Jens Henrik Mikael Fransson'}},
    {'name': {'type': 'literal', 'value': 'Jarrett Zigon'}},
    {'name': {'type': 'literal', 'value': 'Matthew Pudan Juniper'}},
    {'name': {'type': 'literal', 'value': 'Bas Van Der Klaauw'}},
    {'name': {'type': 'literal', 'value': 'Peter Lodahl'}},
    {'name': {'type': 'literal', 'value': 'Enrico Maria Surace'}},
    {'name': {'type': 'literal', 'value': 'Tim Julius Schulz'}},
    {'name': {'type': 'literal', 'value': 'Shahar Mendelson'}},
    {'name': {'type': 'literal', 'value': 'Anne Rebecca Britton'}},
    {'name': {'type': 'literal', 'value': 'Hans Kristian Kamfjord Eriksen'}},
    {'name': {'type': 'literal', 'value': 'Miguel Angel Otaduy Tristan'}},
    {'name': {'type': 'literal', 'value': 'Graeme Matthew Day'}},
    {'name': {'type': 'literal', 'value': 'Grazyna Ewa Ptak'}},
    {'name': {'type': 'literal', 'value': 'Laurent Sanchez-Palencia'}},
    {'name': {'type': 'literal', 'value': 'Feliciano Giustino'}},
    {'name': {'type': 'literal', 'value': 'Christoph Koch'}},
    {'name': {'type': 'literal', 'value': 'Michael Potente'}},
    {'name': {'type': 'literal', 'value': 'Sara Evans'}},
    {'name': {'type': 'literal', 'value': 'Yvon Jaillais'}},
    {'name': {'type': 'literal', 'value': 'Gulnara Arzhantseva'}},
    {'name': {'type': 'literal', 'value': 'Ayumu Tashiro'}},
    {'name': {'type': 'literal', 'value': 'Thomas Anthopoulos'}},
    {'name': {'type': 'literal', 'value': 'Sebastien Roger Louis Guenneau'}},
    {'name': {'type': 'literal', 'value': 'Jonas Grethlein'}},
    {'name': {'type': 'literal', 'value': 'Johannes Krause'}},
    {'name': {'type': 'literal', 'value': 'Jorunn Indra Berit Bos'}},
    {'name': {'type': 'literal', 'value': 'Deryk Osthus'}},
    {'name': {'type': 'literal', 'value': 'Helen Marie Talbot'}},
    {'name': {'type': 'literal', 'value': 'Oliver Trapp'}},
    {'name': {'type': 'literal', 'value': 'Daniela Grunow'}},
    {'name': {'type': 'literal', 'value': 'Ana Jes��s Garc��a S��ez'}},
    {'name': {'type': 'literal', 'value': 'Tinne Tuytelaars'}},
    {'name': {'type': 'literal', 'value': 'Jed Oliver Kaplan'}},
    {'name': {'type': 'literal', 'value': 'Shina Caroline Lynn Kamerlin'}},
    {'name': {'type': 'literal', 'value': 'Anat Levin'}},
    {'name': {'type': 'literal', 'value': 'Wilfried Weber'}},
    {'name': {'type': 'literal', 'value': 'Hugh Alexander Gervase Houghton'}},
    {'name': {'type': 'literal', 'value': 'Eva Marie Carlen'}},
    {'name': {'type': 'literal', 'value': 'Erik Dujardin'}},
    {'name': {'type': 'literal', 'value': 'Sylvain Herv�� Gigan'}},
    {'name': {'type': 'literal', 'value': 'Michael Christoph Gastpar'}},
    {'name': {'type': 'literal', 'value': 'Alessandro Giuliani'}},
    {'name': {'type': 'literal', 'value': 'Alexander Nesterov-Mueller'}},
    {'name': {'type': 'literal', 'value': 'Amaelle Israel'}},
    {'name': {'type': 'literal', 'value': 'Michael Bronstein'}},
    {'name': {'type': 'literal',
      'value': 'Santiago Ignacio Badia Rodr��guez'}},
    {'name': {'type': 'literal', 'value': 'Alexander Bangs Edmonds'}},
    {'name': {'type': 'literal', 'value': 'Rafal Klajn'}},
    {'name': {'type': 'literal', 'value': 'James Wookey'}},
    {'name': {'type': 'literal', 'value': 'Ilka Bischofs-Pfeifer'}},
    {'name': {'type': 'literal', 'value': 'Nathan Mcclenaghan'}},
    {'name': {'type': 'literal', 'value': 'Soeren Fournais'}},
    {'name': {'type': 'literal', 'value': 'Stefano Bianchini'}},
    {'name': {'type': 'literal', 'value': 'Sandra Hirche'}},
    {'name': {'type': 'literal', 'value': 'Antoine Guy Bernard Jerusalem'}},
    {'name': {'type': 'literal', 'value': 'Andreas Bausch'}},
    {'name': {'type': 'literal',
      'value': 'Christiane Helene Berger-Schaffitzel'}},
    {'name': {'type': 'literal', 'value': 'Claudio Conti'}},
    {'name': {'type': 'literal', 'value': 'Alberto Sanz Montero'}},
    {'name': {'type': 'literal', 'value': 'Victor Michael Panaretos'}},
    {'name': {'type': 'literal', 'value': 'Anne-Lise Mamessier'}},
    {'name': {'type': 'literal', 'value': 'Anne-Clemence Corminboeuf'}},
    {'name': {'type': 'literal', 'value': 'Daniel Cremers'}},
    {'name': {'type': 'literal', 'value': 'Henk Wymeersch'}},
    {'name': {'type': 'literal', 'value': 'Marco Baroni'}},
    {'name': {'type': 'literal', 'value': 'Stefan Szeider'}},
    {'name': {'type': 'literal', 'value': 'David Paul Melcher'}},
    {'name': {'type': 'literal', 'value': 'Henrik Ronnow'}},
    {'name': {'type': 'literal', 'value': 'Anneli Albi'}},
    {'name': {'type': 'literal', 'value': 'Bleda Serge During'}},
    {'name': {'type': 'literal', 'value': 'Anders Martin Fjell'}},
    {'name': {'type': 'literal', 'value': 'Vernesa Smolcic'}},
    {'name': {'type': 'literal', 'value': 'Ansgar Kahmen'}},
    {'name': {'type': 'literal', 'value': 'Ulrike Seibt'}},
    {'name': {'type': 'literal', 'value': 'Duncan Odom'}},
    {'name': {'type': 'literal', 'value': 'Mangala Srinivas'}},
    {'name': {'type': 'literal', 'value': 'Victor Borrell Franco'}}]}},
 148.87336134910583)

In [26]:
query_3 = "PREFIX : <http://unics.cloud/ontology/> select distinct ?name where { ?people a :people . ?project a :projects .  ?people :people\#full_name ?name . ?people :people\#unics_id ?peo_id. ?project :projects\#principal_investigator ?pro_id. ?project :projects\#ec_fund_scheme ?pro_code . ?fs :funding_schemes\#code ?fs_code . FILTER (?fs_code = ?pro_code && ?pro_id = ?peo_id && ?fs_title = 'Proof of Concept Grant')} limit 100 "

In [27]:
res = execute_sparql(query=query_3, db_id=None)

timed out

In [31]:
query_4 = "PREFIX : <http://unics.cloud/ontology/> SELECT * WHERE { hint:Query hint:optimizer 'None' . ?s ?p ?o . ?s a :institutions .} LIMIT 100"

In [32]:
res = execute_sparql(query=query_4, db_id=None)

In [34]:
res[1]

22.36212992668152

In [35]:
query_5 = "PREFIX : <http://unics.cloud/ontology/> SELECT * WHERE { ?s ?p ?o . ?s a :institutions .} LIMIT 100"

In [36]:
res = execute_sparql(query=query_4, db_id=None)
res[1]

18.631598234176636

In [37]:
query_6 = "PREFIX : <http://unics.cloud/ontology/> SELECT * WHERE { hint:Query hint:optimizer 'None' . ?s a :institutions . ?s ?p ?o .} LIMIT 100"

In [38]:
res = execute_sparql(query=query_4, db_id=None)
res[1]

19.231168031692505