In [3]:
import os
os.chdir('../')
os.getcwd()

'/Users/dennis/repos/study/mt/mt_rdf'

In [4]:
from dotenv import load_dotenv
from src.query.query_sparql import execute_sparql
from src.database.database_utils import query_db
import pandas as pd

In [12]:
res_dict = {}
res_dict['sparql_query'] = []
res_dict['sql_query'] = []
res_dict['sparql_time'] = []
res_dict['sql_time'] = []

In [16]:
def execute_specific_queries(sql_query, sparql_query):
    res_sparql, execution_time = execute_sparql(query=sparql_query, db_id='cordis_temporary')
    # res_sql = query_db(f'EXPLAIN ANALYZE {sql_query}', db_name='cordis_temporary')
    res_dict['sparql_query'].append(sparql_query)
    res_dict['sparql_time'].append(execution_time * 1000)
    res_dict['sql_query'].append(sql_query)
    print(res_sparql)
    print()
    # res_dict['sql_time'].append(res_sql.iloc[4]['QUERY PLAN'])
    res_dict['sql_time'].append('asdf')

    # print(sparql_query)
    # # print(res_sparql)
    # print(execution_time)
    # print(50 * '_')
    # print(sql_query)
    # print(res_sql)

In [17]:
query_df = pd.read_csv('data/queries/cordis/cordis.csv')
# print(query_df.columns)
for i in range(1):
    print(f'QUERY#{i}')
    execute_specific_queries(query_df.iloc[i]['ground_truth'], "SELECT ?T1_institutions_name from onto:explain WHERE { ?T1 a :institutions . ?T2 a :countries . ?T1 :institutions\#ref-country_id ?T2 .  ?T1 :institutions\#institutions_name ?T1_institutions_name . ?T2 :countries\#country_name ?T2_country_name . FILTER(?T2_country_name != 'France') .        }")
    # execute_specific_queries(query_df.iloc[i]['ground_truth'], query_df.iloc[i]['predicted_sparql'])
    print(100 * '*')

res_df = pd.DataFrame(res_dict)

QUERY#0
[('PREFIX : <http://unics.cloud/ontology/>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\n\nSELECT ?T1_institutions_name\n{\n  \n  { # ----- Begin optimization group 1 -----\n    \n    ?T2 :countries\\#country\\_name ?T2_country_name . # \tCollection size: 251\tPredicate collection size: 251\tUnique subjects: 251\tUnique objects: 251\tCurrent complexity: 251\n    FILTER (?T2_country_name != "France")\n    ?T2 rdf:type :countries . # \tCollection size: 251\tPredicate collection size: 908,076\tUnique subjects: 908,076\tUnique objects: 30\tCurrent complexity: 251\n    ?T1 :institutions\\#ref\\-country\\_id ?T2 . # \tCollection size: 61,434\tPredicate collection size: 61,434\tUnique subjects: 61,434\tUnique objects: 195\tCurrent complexity: 79,076.584615\n    ?T1 :institutions\\#institutions\\_name ?T1_institutions_name . # \tCollection size: 61,493\tPredicate collection size: 61,493\tUnique subjects: 61,493\tUnique objects: 61,142\tCurrent complexity: 79,076.584615\n    ?T1 rdf:type :institutions . # \tCollection size: 61,493\tPredicate collection size: 908,076\tUnique subjects: 908,076\tUnique objects: 30\tCurrent complexity: 79,076.584615\n    \n  } # ----- End optimization group 1 -----\n  # ESTIMATED NUMBER OF ITERATIONS: 79,076.584615\n  \n}\n\n# NOTE: Optimization groups are evaluated one after another exactly in the given order.\n# If there are too many optimization groups consisting of a single statement pattern,\n# then one should try to relocate the following clauses by hand:\n# VALUES, BIND, OPTIONAL, property paths with \'*\' and/or \'+\' (the latter can be also surrounded with brackets).\n# Sub-SELECTs will always be evaluated first.',)]

****************************************************************************************************

In [15]:
res_df

,sparql_query,sql_query,sparql_time,sql_time
0,SELECT ?T1_institutions_name from onto:explain...,SELECT T1.total_cost FROM projects AS T1 WHERE...,63.832045,asdf