In [1]:
import os
os.chdir('../')
os.getcwd()

'/Users/dennis/repos/study/mt/mt_rdf'

In [35]:
import pandas as pd
from functools import reduce

In [40]:
blaze_orig_df_10 = pd.read_csv('results/wdbench/ppaths/blaze/results_ppaths_10_original.csv')
blaze_orig_df_10_forced = pd.read_csv('results/wdbench/ppaths/blaze/results_ppaths_10_original_forced.csv')
blaze_orig_df_10_opt = pd.read_csv('results/wdbench/ppaths/blaze/results_ppaths_10_opt_blaze.csv')
blaze_orig_df_10.drop('Unnamed: 0', axis=1, inplace=True)
blaze_orig_df_10_forced.drop('Unnamed: 0', axis=1, inplace=True)
blaze_orig_df_10_opt.drop('Unnamed: 0', axis=1, inplace=True)

In [33]:
virt_orig_df_10 = pd.read_csv('results/wdbench/ppaths/virt/results_ppaths_10_original.csv')
virt_orig_df_10_forced = pd.read_csv('results/wdbench/ppaths/virt/results_ppaths_10_original_forced.csv')
virt_orig_df_10_opt = pd.read_csv('results/wdbench/ppaths/virt/results_ppaths_10_opt_virt.csv')
virt_orig_df_10.drop('Unnamed: 0', axis=1, inplace=True)
virt_orig_df_10_forced.drop('Unnamed: 0', axis=1, inplace=True)
virt_orig_df_10_opt.drop('Unnamed: 0', axis=1, inplace=True)

In [41]:
blaze_orig_df_10_opt

   query_id  exec_n  exec_time    results
0      P290       0          0  timed out
1      P290       1          0  timed out
2      P290       2          0  timed out
3      P290       3          0  timed out
4      P297       0          0  timed out
5      P297       1          0  timed out
6      P297       2          0  timed out
7      P297       3          0  timed out
8      P387       0          0  timed out
9      P387       1          0  timed out
10     P387       2          0  timed out
11     P387       3          0  timed out
12     P382       0          0  timed out
13     P382       1          0  timed out
14     P382       2          0  timed out
15     P382       3          0  timed out
16     P265       0          0  timed out
17     P265       1          0  timed out
18     P265       2          0  timed out
19     P265       3          0  timed out
20     P268       0          0  timed out
21     P268       1          0  timed out
22     P268       2          0  timed out
23     P268       3          0  timed out
24     P187       0          0  timed out
25     P187       1          0  timed out
26     P187       2          0  timed out
27     P187       3          0  timed out
28     P279       0          0  timed out
29     P279       1          0  timed out
30     P279       2          0  timed out
31     P279       3          0  timed out
32     P203       0          0  timed out
33     P203       1          0  timed out
34     P203       2          0  timed out
35     P203       3          0  timed out
36     P385       0          0  timed out
37     P385       1          0  timed out
38     P385       2          0  timed out
39     P385       3          0  timed out

In [42]:
# blaze_merged_df = reduce(lambda left,right: pd.merge(left,right,on=['query_id', 'exec_n']), [blaze_orig_df_10, blaze_orig_df_10_forced, blaze_orig_df_10_opt])

In [47]:
blaze_merged_df = pd.merge(blaze_orig_df_10, blaze_orig_df_10_forced, how='left', left_on=['query_id', 'exec_n'], right_on=['query_id', 'exec_n'], suffixes=('', '_forced'))
blaze_merged_df = pd.merge(blaze_merged_df, blaze_orig_df_10_opt, how='left', left_on=['query_id', 'exec_n'], right_on=['query_id', 'exec_n'], suffixes=('', '_opt'))

In [48]:
virt_merged_df = pd.merge(virt_orig_df_10, virt_orig_df_10_forced, how='left', left_on=['query_id', 'exec_n'], right_on=['query_id', 'exec_n'], suffixes=('', '_forced'))
virt_merged_df = pd.merge(virt_merged_df, virt_orig_df_10_opt, how='left', left_on=['query_id', 'exec_n'], right_on=['query_id', 'exec_n'], suffixes=('', '_opt'))

In [21]:
blaze_merged_df[blaze_merged_df['query_id'] == 'P187']

   query_id  exec_n  exec_time    results  exec_time_forced results_forced
24     P187       0          0  timed out                 0      timed out
25     P187       1          0  timed out                 0      timed out
26     P187       2          0  timed out                 0      timed out
27     P187       3          0  timed out                 0      timed out

In [59]:
virt_merged_df[virt_merged_df['query_id'] == 'P290']

,query_id,exec_n,exec_time,results,exec_time_forced,results_forced,exec_time_opt,results_opt
12,P290,0,73.725667,NaN,0.0,EndPointInternalError: The endpoint returned t...,1.646382,NaN
13,P290,1,0.577279,NaN,0.0,EndPointInternalError: The endpoint returned t...,1.554648,NaN
14,P290,2,0.545703,NaN,0.0,EndPointInternalError: The endpoint returned t...,1.552732,NaN
15,P290,3,0.566228,NaN,0.0,EndPointInternalError: The endpoint returned t...,1.629833,NaN

In [49]:
virt_merged_df

,query_id,exec_n,exec_time,results,exec_time_forced,results_forced,exec_time_opt,results_opt
0,P385,0,170.279451,NaN,0.000000,EndPointInternalError: The endpoint returned t...,0.064338,NaN
1,P385,1,0.701413,NaN,0.000000,EndPointInternalError: The endpoint returned t...,0.030223,NaN
2,P385,2,0.689152,NaN,0.000000,EndPointInternalError: The endpoint returned t...,0.029272,NaN
3,P385,3,0.700695,NaN,0.000000,EndPointInternalError: The endpoint returned t...,0.030391,NaN
4,P268,0,103.976360,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
5,P268,1,0.308340,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
6,P268,2,0.296533,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
7,P268,3,0.293578,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
8,P265,0,367.090805,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
9,P265,1,9.217851,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
10,P265,2,8.982011,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
11,P265,3,8.972395,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
12,P290,0,73.725667,NaN,0.000000,EndPointInternalError: The endpoint returned t...,1.646382,NaN
13,P290,1,0.577279,NaN,0.000000,EndPointInternalError: The endpoint returned t...,1.554648,NaN
14,P290,2,0.545703,NaN,0.000000,EndPointInternalError: The endpoint returned t...,1.552732,NaN
15,P290,3,0.566228,NaN,0.000000,EndPointInternalError: The endpoint returned t...,1.629833,NaN
16,P203,0,14.713562,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
17,P203,1,0.140426,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
18,P203,2,0.126090,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
19,P203,3,0.125271,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
20,P187,0,32.798186,NaN,0.000000,timed out,NaN,NaN
21,P187,1,9.114839,NaN,0.000000,timed out,NaN,NaN
22,P187,2,9.248718,NaN,0.000000,timed out,NaN,NaN
23,P187,3,9.174371,NaN,0.000000,timed out,NaN,NaN
24,P297,0,0.785840,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
25,P297,1,0.750559,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
26,P297,2,0.734841,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
27,P297,3,0.769595,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
28,P387,0,166.745576,NaN,0.000000,EndPointInternalError: The endpoint returned t...,0.528029,NaN
29,P387,1,15.756082,NaN,0.000000,EndPointInternalError: The endpoint returned t...,0.477962,NaN
30,P387,2,15.684700,NaN,0.000000,EndPointInternalError: The endpoint returned t...,0.454476,NaN
31,P387,3,15.776424,NaN,0.000000,EndPointInternalError: The endpoint returned t...,0.466165,NaN
32,P382,0,0.828455,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
33,P382,1,0.799386,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
34,P382,2,0.753584,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
35,P382,3,0.792235,NaN,0.000000,EndPointInternalError: The endpoint returned t...,NaN,NaN
36,P279,0,0.326912,NaN,485.152035,NaN,NaN,NaN
37,P279,1,0.300293,NaN,499.286061,NaN,NaN,NaN
38,P279,2,0.306868,NaN,474.965411,NaN,NaN,NaN
39,P279,3,0.295385,NaN,479.080574,NaN,NaN,NaN

In [ ]:
'P187', 'P387', 'P382', 'P385', 'P297', 'P279', 'P268', 'P203', 'P265', 'P290'